
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
  </head>
  <body>
    <form style="background-color: #433D8B" action="/submit" method="POST" class="form-select form-select-lg mb-3 border-0" aria-label="Default select example">
    
        
        <label for="type">Choose an Anime type</label>
        <select name="type" id="type">
    
            <option value="tv">TV</option>
            <option value="movie">Movie</option>
            <option value="ova">OVA</option>
            <option value="special">Special</option>
            <option value="ona">ONA</option>
            <option value="music">Music</option>
            <option value="cm">Commercials</option>
            <option value="pv">Promotional Videos</option>
            <option value="tv_special">TV Special</option>
    
          
    
        </select>
        <div class="text-center my-3">
          <input type="submit" class="btn btn-secondary btn-lg" value="Submit">

        </div>
    
    </form>    
  </body>
  </html>
